
#topbar{
    background-color: white;
    padding: 16px 20px;
    box-shadow: 0px 2px 5px gray;
}
.menu{
    float: right;
    font-size: 18px;
    padding: 24px;
}
h1{
    padding-top: 10%;
    padding-left: 5%;
    font-size: 56px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-size: 30px;
}

body{
    background-image: url('http://sites.psu.edu/bjr5500/files/2017/07/background-wallpapers-beautiful-website-sphere-different-backgrounds-2hiuje6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
