/* List style */
/* Style links */
/* button styles */
#list-ol{
   
    /* list-style-type: upper-alpha; */
    /* list-style-type:lower-alpha; */
    list-style-type: lower-roman;
    width: 450px;
    /* list-style-position: inside; */
    
}
#list-ul{ 
    list-style-type: square;
    /* list-style-type: none; */
    /* padding-left: 0px; */
}
body{
    margin: 0px;
}

#topbar{
    background-color: aqua;
    padding: 16px 20px;
    
}
.menu{
    font-size: 24px;
    margin-right: 24px;
    color: black;
    text-decoration: none;


}
.menu:link{
    color: black;
}
.menu:visited{
    color: green;
}
.menu:hover{
    color: blue;
}
.menu:active{
    color:purple;
}

#btn-login{
    background-color: royalblue;
    border: none;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

}
#btn-login:hover{
    background-color: pink;
    color: white;
}
#btn-signup{
    background-color: white;
    border: 2px solid lightblue;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    cursor: pointer; 
}
#btn-signup:hover{
    background-color: slateblue;
    color: white;
}

#btn-disabled{
    background-color:royalblue;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    cursor: not-allowed;
    opacity: 0.4; 
}

/* https://fontawesome.com/start */
.btn{
    font-size: 24px;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    height: 45px;
    width: 200px;
}
#btn-facebook{
    background-color: blue;
}
#btn-google{
    background-color: orange;
}
#btn-gitHub{
    background-color: black;

}
.btn-label{
    padding-left: 20px;

}
.icon{
    width: 20px;
    height: 20px;
    padding: 5px;
}