body {
    margin: 0;
}

.item {
    background-color: lightcoral;
    text-align: center;
    padding: 2%;
    margin: 1%;
}

.container {
    background-color: blue;
    box-sizing: border-box;
    padding: 1vw;
    margin: 2vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    /* align-content: center; */
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    /* align-content: center; */
}