
/* Display Block */
h1{
    text-align: center;
    padding-top: 20px;
}
.image{
    width: 200px;
    height: 200px;
}
.image-wrapper{
    display: inline;
    
}
#image-div{
    padding: 20px;
    
}
.menu-item{
    /* display: block; */
    /* display: none; */
    /* visibility: hidden; */
}

/* inline Block */
#span1{
    background-color: lightblue;
    height: 100px;
    width: 200px;

}
#span2{
    display: inline-block;
    background-color: lightcoral;
    height: 100px;
    width: 200px;
}
