#img-mountain{
    width: 400px;
    height: 400px;
    
    
}
#wrapper{
    background-color: blueviolet;
    width: 350px;
    height: 350px;
    
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}